* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
}

/* Кастомні змінні Bootstrap */
:root {
  --primary-color: #4361ee;
  --secondary-color: #3a0ca3;
  --success-color: #4cc9f0;
}

/* Утиліти */
.cursor-pointer {
  cursor: pointer;
}

.min-h-100 {
  min-height: 100vh;
}

.text-primary-custom {
  color: var(--primary-color) !important;
}

.bg-primary-custom {
  background-color: var(--primary-color) !important;
}